.header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(black, 0.8), rgba(black, 0.6)), url('../img/bg1.jpg') ;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
    color: #fff;


}

.roadmap {
    margin-top: 10rem;

}

.project {
    margin-top: 10rem;

}