
@keyframes name {
    0% {
        background-position: 10% 30%
    }
    50% {
        background-position: 25% 30%
    }
    100% {
        background-position: 10% 30%
    }

}


@keyframes moveInRight {
    from {
        transform: translate(-80%, -50%);
        opacity: 0.2;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes breath {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform:translate(-50%, -50%) scale(0.8);
    }
}



@keyframes entry {
    0% {
        top: -20%;
        opacity: 0.1;
    }

    100% {
        top: 0;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes chicaum {
    from {
        transform: translate(0px);
    }

    to {
        transform: translate(-886px);
    }
}
@-webkit-keyframes chicadois {
    from {
        transform: translate(0px);
    }

    to {
        transform: translate(-841px);
    }
}
