
@keyframes name {
    0% {
        background-position: 10% 30%
    }
    50% {
        background-position: 25% 30%
    }
    100% {
        background-position: 10% 30%
    }

}


@keyframes moveInRight {
    from {
        transform: translate(-80%, -50%);
        opacity: 0.2;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes breath {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.8);
    }
}
