%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading {
    &-1 {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 1px;

        &--name {
            font-size: 4.5rem;
            letter-spacing: 1px;
            font-weight: 300;
            font-family: $font-display;
            background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #C5E7D7 34%, #88d8b0 34%); -webkit-background-clip: text;
            background-size: 400%;
            color: transparent;
            animation: name 5s ease infinite;
        }
    }

    &-2 {
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    &-3 {
        font-size: 1.6rem;
        font-weight: 400;
        font-family: $font-display;
    }


}

.paragraph {
    font-size: 2rem;
    letter-spacing: 1px;
}

