
.row {
    max-width: 1140px;
    margin: 0 auto;

}

.img--hide {
    @include respond(img) {
        display: none;
    }

}

.e-text-center {
    text-align: center;
}

.mb--sm {
    margin-bottom: 2rem;
}

.mb--md {
    margin-bottom: 4rem;
}

.mb--lg {
    margin-bottom: 6rem;
}

.mb--xl {
    margin-bottom: 10rem;
}