

.section-about {

    position: relative;

    &__title {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__box {

    }
}

.story-box {
    display: flex;

    &__img {
        flex: 0 0 50%;
        background-color: #000;
        box-shadow: 0 3px 5px rgba(black, 0.4);

        & img {
            width: 100%;
            height: auto;
            display: block;

        }

    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10%;
        position: relative;

        .paragraph {
            span + span {
                display: block;
                margin-top: 2rem;
            }
        }

        &:first-child p:before {
            content: '\201E';
            font-size: 20rem;
            font-family: sans-serif;
            position: absolute;
            right: 2rem;
            top: -2rem;
            color: #333333;
            opacity: 0.2;
            line-height: 1;
        }

        &:last-child p:after {
            content: '\201C';
            font-size: 21rem;
            font-family: sans-serif;
            position: absolute;
            left: 0;
            top: 8rem;
            color: #333333;
            opacity: 0.2;
            line-height: 1;
        }


    }

}


.section-about {
    .title__list {
        border-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: max-content;

        & li {
            display: inline-block;
            float: left;
            color: #333;
            opacity: 1;
            transition: all 0.3s ease-in-out;
            max-width: 100%;
        }
    }


    .title__list li {
        border-bottom: 2px solid #ddd;
    }

    .title__list .front{
        opacity: 1;
    }

    .title__list .ghost{
        opacity: 0;
    }

    .title__list li.ghost.spaced {
        padding-left: 0;
    }

    .title__list li.spaced, .title__list.title--show li.ghost.spaced {
        padding-left: 2rem;
    }

    .title__list li.ghost {
        opacity: 0;
        max-width: 0;
    }

    .title__list.title--show li {
        border-bottom: 0;
    }

    .title__list.title--show li.ghost {
        opacity: 1;
        max-width: 100%;
    }

    .title__list.title--show li.front {
        opacity: 0;
        max-width: 0;
    }

    .title__list.title--show:before {
        content: '';
        display: block;
        position: absolute;
        top: -9px;
        left: -5rem;
        width: 40px;
        height: 50px;
        border-style: solid;
        border-color: lightcoral;
        border-width: 10px 0 0 10px;
    }

    .title__list.title--show:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -20px;
        right: -6rem;
        width: 40px;
        height: 50px;
        border-style: solid;
        border-color: lightcoral;
        border-width: 0 10px 10px 0;

    }

}
